In [1]:
import json
import pyspark as ps
from pyspark.sql.types import *
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

plt.rcParams['figure.figsize'] = [30, 15]

In [2]:
spark = ps.sql.SparkSession.builder \
            .master("local[4]") \
            .appName("Capstone 1") \
            .config("spark.sql.caseSensitive", "true")\
            .getOrCreate()
sc = spark.sparkContext
sc

In [3]:
tmp_df = spark.read.text('data/a')

# df.show(3, truncate=0)
tmp_df.show(3, truncate=0)

AnalysisException: Path does not exist: file:/home/jovyan/work/DSI_Capstone_1/data/apr21pub.dat

In [ ]:
import re

structure = r'' # tmp_df.value.substr([position],[length]).alias('colname')
last_loc = -1
with open('data/2021_Basic_CPS_data_dict.txt', 'r') as d:
        data_dict = d.readlines()

for line in data_dict:
    header = re.findall("\A([A-Z0-9]*)\s", line)
    loc = re.findall("(\d+)\s*-\s*(\d+)$", line)
    size = re.findall("\A[A-Z0-9]+\s+(\d+)", line)
    if header != []:
        if size != []:
            if loc != []: # and int(loc[0][1])>last_loc and int(loc[0][1])<1900:
#                 structure[header] = f"tmp_df.value.substr({int(loc[0][0])}, {int(size[0])}).alias('{header}')"
                if header[0] == 'FILLER':
                    header[0] = f'FILLER{int(loc[0][0])}'
                if header[0] == 'PADDING':
                    header[0] = f'PADDING{int(loc[0][0])}'
                structure += f"tmp_df.value.substr({int(loc[0][0])}, {int(size[0])}).alias('{header[0]}'), \n"
                last_loc = int(loc[0][0])

print(structure)

In [ ]:
apr21_df = tmp_df.select(tmp_df.value.substr(1, 15).alias('HRHHID'), 
tmp_df.value.substr(16, 2).alias('HRMONTH'), 
tmp_df.value.substr(18, 4).alias('HRYEAR4'), 
tmp_df.value.substr(22, 2).alias('HURESPLI'), 
tmp_df.value.substr(24, 3).alias('HUFINAL'), 
tmp_df.value.substr(27, 2).alias('FILLER27'), 
tmp_df.value.substr(29, 2).alias('HETENURE'), 
tmp_df.value.substr(31, 2).alias('HEHOUSUT'), 
tmp_df.value.substr(33, 2).alias('HETELHHD'), 
tmp_df.value.substr(35, 2).alias('HETELAVL'), 
tmp_df.value.substr(37, 2).alias('HEPHONEO'), 
tmp_df.value.substr(39, 2).alias('HEFAMINC'), 
tmp_df.value.substr(41, 2).alias('HUTYPEA'), 
tmp_df.value.substr(43, 2).alias('HUTYPB'), 
tmp_df.value.substr(45, 2).alias('HUTYPC'), 
tmp_df.value.substr(47, 10).alias('HWHHWGT'), 
tmp_df.value.substr(57, 2).alias('HRINTSTA'), 
tmp_df.value.substr(59, 2).alias('HRNUMHOU'), 
tmp_df.value.substr(61, 2).alias('HRHTYPE'), 
tmp_df.value.substr(63, 2).alias('HRMIS'), 
tmp_df.value.substr(65, 2).alias('HUINTTYP'), 
tmp_df.value.substr(67, 2).alias('HUPRSCNT'), 
tmp_df.value.substr(69, 2).alias('HRLONGLK'), 
tmp_df.value.substr(71, 5).alias('HRHHID2'), 
tmp_df.value.substr(76, 2).alias('HWHHWTLN'), 
tmp_df.value.substr(78, 1).alias('FILLER78'), 
tmp_df.value.substr(79, 2).alias('HUBUS'), 
tmp_df.value.substr(81, 2).alias('HUBUSL1'), 
tmp_df.value.substr(83, 2).alias('HUBUSL2'), 
tmp_df.value.substr(85, 2).alias('HUBUSL3'), 
tmp_df.value.substr(87, 2).alias('HUBUSL4'), 
tmp_df.value.substr(89, 2).alias('GEREG'), 
tmp_df.value.substr(91, 1).alias('GEDIV'), 
tmp_df.value.substr(92, 1).alias('FILLER92'), 
tmp_df.value.substr(93, 2).alias('GESTFIPS'), 
tmp_df.value.substr(95, 1).alias('FILLER95'), 
tmp_df.value.substr(96, 5).alias('GTCBSA'), 
tmp_df.value.substr(101, 3).alias('GTCO'), 
tmp_df.value.substr(104, 1).alias('GTCBSAST'), 
tmp_df.value.substr(105, 1).alias('GTMETSTA'), 
tmp_df.value.substr(106, 1).alias('GTINDVPC'), 
tmp_df.value.substr(107, 1).alias('GTCBSASZ'), 
tmp_df.value.substr(108, 3).alias('GTCSA'), 
tmp_df.value.substr(111, 3).alias('FILLER111'), 
tmp_df.value.substr(114, 2).alias('FILLER114'), 
tmp_df.value.substr(118, 2).alias('PERRP'), 
tmp_df.value.substr(120, 2).alias('FILLER120'), 
tmp_df.value.substr(122, 2).alias('PRTAGE'), 
tmp_df.value.substr(124, 1).alias('PRTFAGE'), 
tmp_df.value.substr(125, 2).alias('PEMARITL'), 
tmp_df.value.substr(127, 2).alias('PESPOUSE'), 
tmp_df.value.substr(129, 2).alias('PESEX'), 
tmp_df.value.substr(131, 2).alias('PEAFEVER'), 
tmp_df.value.substr(133, 2).alias('FILLER133'), 
tmp_df.value.substr(135, 2).alias('PEAFNOW'), 
tmp_df.value.substr(137, 2).alias('PEEDUCA'), 
tmp_df.value.substr(139, 2).alias('PTDTRACE'), 
tmp_df.value.substr(141, 2).alias('PRDTHSP'), 
tmp_df.value.substr(143, 2).alias('PUCHINHH'), 
tmp_df.value.substr(145, 2).alias('FILLER145'), 
tmp_df.value.substr(147, 2).alias('PULINENO'), 
tmp_df.value.substr(149, 2).alias('FILLER149'), 
tmp_df.value.substr(151, 2).alias('PRFAMNUM'), 
tmp_df.value.substr(153, 2).alias('PRFAMREL'), 
tmp_df.value.substr(155, 2).alias('PRFAMTYP'), 
tmp_df.value.substr(157, 2).alias('PEHSPNON'), 
tmp_df.value.substr(159, 2).alias('PRMARSTA'), 
tmp_df.value.substr(161, 2).alias('PRPERTYP'), 
tmp_df.value.substr(163, 3).alias('PENATVTY'), 
tmp_df.value.substr(166, 3).alias('PEMNTVTY'), 
tmp_df.value.substr(169, 3).alias('PEFNTVTY'), 
tmp_df.value.substr(172, 2).alias('PRCITSHP'), 
tmp_df.value.substr(174, 2).alias('PRCITFLG'), 
tmp_df.value.substr(176, 2).alias('PRINUSYR'), 
tmp_df.value.substr(178, 2).alias('PUSLFPRX'), 
tmp_df.value.substr(180, 2).alias('PEMLR'), 
tmp_df.value.substr(182, 2).alias('PUWK'), 
tmp_df.value.substr(184, 2).alias('PUBUS1'), 
tmp_df.value.substr(186, 2).alias('PUBUS2OT'), 
tmp_df.value.substr(188, 2).alias('PUBUSCK1'), 
tmp_df.value.substr(190, 2).alias('PUBUSCK2'), 
tmp_df.value.substr(192, 2).alias('PUBUSCK3'), 
tmp_df.value.substr(194, 2).alias('PUBUSCK4'), 
tmp_df.value.substr(196, 2).alias('PURETOT'), 
tmp_df.value.substr(198, 2).alias('PUDIS'), 
tmp_df.value.substr(200, 2).alias('PERET1'), 
tmp_df.value.substr(202, 2).alias('PUDIS1'), 
tmp_df.value.substr(204, 2).alias('PUDIS2'), 
tmp_df.value.substr(206, 2).alias('PUABSOT'), 
tmp_df.value.substr(208, 2).alias('PULAY'), 
tmp_df.value.substr(210, 2).alias('PEABSRSN'), 
tmp_df.value.substr(212, 2).alias('PEABSPDO'), 
tmp_df.value.substr(214, 2).alias('PEMJOT'), 
tmp_df.value.substr(216, 2).alias('PEMJNUM'), 
tmp_df.value.substr(218, 2).alias('PEHRUSL1'), 
tmp_df.value.substr(220, 2).alias('PEHRUSL2'), 
tmp_df.value.substr(222, 2).alias('PEHRFTPT'), 
tmp_df.value.substr(224, 3).alias('PEHRUSLT'), 
tmp_df.value.substr(227, 2).alias('PEHRWANT'), 
tmp_df.value.substr(229, 2).alias('PEHRRSN1'), 
tmp_df.value.substr(231, 2).alias('PEHRRSN2'), 
tmp_df.value.substr(233, 2).alias('PEHRRSN3'), 
tmp_df.value.substr(235, 2).alias('PUHROFF1'), 
tmp_df.value.substr(237, 2).alias('PUHROFF2'), 
tmp_df.value.substr(239, 2).alias('PUHROT1'), 
tmp_df.value.substr(241, 2).alias('PUHROT2'), 
tmp_df.value.substr(243, 2).alias('PEHRACT1'), 
tmp_df.value.substr(245, 2).alias('PEHRACT2'), 
tmp_df.value.substr(247, 3).alias('PEHRACTT'), 
tmp_df.value.substr(250, 2).alias('PEHRAVL'), 
tmp_df.value.substr(252, 5).alias('FILLER252'), 
tmp_df.value.substr(257, 2).alias('PUHRCK1'), 
tmp_df.value.substr(259, 2).alias('PUHRCK2'), 
tmp_df.value.substr(261, 2).alias('PUHRCK3'), 
tmp_df.value.substr(263, 2).alias('PUHRCK4'), 
tmp_df.value.substr(265, 2).alias('PUHRCK5'), 
tmp_df.value.substr(267, 2).alias('PUHRCK6'), 
tmp_df.value.substr(269, 2).alias('PUHRCK7'), 
tmp_df.value.substr(271, 2).alias('PUHRCK12'), 
tmp_df.value.substr(273, 2).alias('PULAYDT'), 
tmp_df.value.substr(275, 2).alias('PULAY6M'), 
tmp_df.value.substr(277, 2).alias('PELAYAVL'), 
tmp_df.value.substr(279, 2).alias('PULAYAVR'), 
tmp_df.value.substr(281, 2).alias('PELAYLK'), 
tmp_df.value.substr(283, 3).alias('PELAYDUR'), 
tmp_df.value.substr(286, 2).alias('PELAYFTO'), 
tmp_df.value.substr(288, 2).alias('PULAYCK1'), 
tmp_df.value.substr(290, 2).alias('PULAYCK2'), 
tmp_df.value.substr(292, 2).alias('PULAYCK3'), 
tmp_df.value.substr(294, 2).alias('PULK'), 
tmp_df.value.substr(296, 2).alias('PELKM1'), 
tmp_df.value.substr(298, 2).alias('PULKM2'), 
tmp_df.value.substr(300, 2).alias('PULKM3'), 
tmp_df.value.substr(302, 2).alias('PULKM4'), 
tmp_df.value.substr(304, 2).alias('PULKM5'), 
tmp_df.value.substr(306, 2).alias('PULKM6'), 
tmp_df.value.substr(308, 2).alias('PULKDK1'), 
tmp_df.value.substr(310, 2).alias('PULKDK2'), 
tmp_df.value.substr(312, 2).alias('PULKDK3'), 
tmp_df.value.substr(314, 2).alias('PULKDK4'), 
tmp_df.value.substr(316, 2).alias('PULKDK5'), 
tmp_df.value.substr(318, 2).alias('PULKDK6'), 
tmp_df.value.substr(320, 2).alias('PULKPS1'), 
tmp_df.value.substr(322, 2).alias('PULKPS2'), 
tmp_df.value.substr(324, 2).alias('PULKPS3'), 
tmp_df.value.substr(326, 2).alias('PULKPS4'), 
tmp_df.value.substr(328, 2).alias('PULKPS5'), 
tmp_df.value.substr(330, 2).alias('PULKPS6'), 
tmp_df.value.substr(332, 2).alias('PELKAVL'), 
tmp_df.value.substr(334, 2).alias('PULKAVR'), 
tmp_df.value.substr(336, 2).alias('PELKLL1O'), 
tmp_df.value.substr(338, 2).alias('PELKLL2O'), 
tmp_df.value.substr(340, 2).alias('PELKLWO'), 
tmp_df.value.substr(342, 3).alias('PELKDUR'), 
tmp_df.value.substr(345, 2).alias('PELKFTO'), 
tmp_df.value.substr(347, 2).alias('PEDWWNTO'), 
tmp_df.value.substr(349, 2).alias('PEDWRSN'), 
tmp_df.value.substr(351, 2).alias('PEDWLKO'), 
tmp_df.value.substr(353, 2).alias('PEDWWK'), 
tmp_df.value.substr(355, 2).alias('PEDW4WK'), 
tmp_df.value.substr(357, 2).alias('PEDWLKWK'), 
tmp_df.value.substr(359, 2).alias('PEDWAVL'), 
tmp_df.value.substr(361, 2).alias('PEDWAVR'), 
tmp_df.value.substr(363, 2).alias('PUDWCK1'), 
tmp_df.value.substr(365, 2).alias('PUDWCK2'), 
tmp_df.value.substr(367, 2).alias('PUDWCK3'), 
tmp_df.value.substr(369, 2).alias('PUDWCK4'), 
tmp_df.value.substr(371, 2).alias('PUDWCK5'), 
tmp_df.value.substr(373, 2).alias('PEJHWKO'), 
tmp_df.value.substr(375, 2).alias('PUJHDP1O'), 
tmp_df.value.substr(377, 2).alias('PEJHRSN'), 
tmp_df.value.substr(379, 2).alias('PEJHWANT'), 
tmp_df.value.substr(381, 2).alias('PUJHCK1'), 
tmp_df.value.substr(383, 2).alias('PUJHCK2'), 
tmp_df.value.substr(385, 2).alias('PRABSREA'), 
tmp_df.value.substr(387, 2).alias('PRCIVLF'), 
tmp_df.value.substr(389, 2).alias('PRDISC'), 
tmp_df.value.substr(391, 2).alias('PREMPHRS'), 
tmp_df.value.substr(393, 2).alias('PREMPNOT'), 
tmp_df.value.substr(395, 2).alias('PREXPLF'), 
tmp_df.value.substr(397, 2).alias('PRFTLF'), 
tmp_df.value.substr(399, 2).alias('PRHRUSL'), 
tmp_df.value.substr(401, 2).alias('PRJOBSEA'), 
tmp_df.value.substr(403, 2).alias('PRPTHRS'), 
tmp_df.value.substr(405, 2).alias('PRPTREA'), 
tmp_df.value.substr(407, 3).alias('PRUNEDUR'), 
tmp_df.value.substr(410, 2).alias('FILLER410'), 
tmp_df.value.substr(412, 2).alias('PRUNTYPE'), 
tmp_df.value.substr(414, 2).alias('PRWKSCH'), 
tmp_df.value.substr(416, 2).alias('PRWKSTAT'), 
tmp_df.value.substr(418, 2).alias('PRWNTJOB'), 
tmp_df.value.substr(420, 2).alias('PUJHCK3'), 
tmp_df.value.substr(422, 2).alias('PUJHCK4'), 
tmp_df.value.substr(424, 2).alias('PUJHCK5'), 
tmp_df.value.substr(426, 2).alias('PUIODP1'), 
tmp_df.value.substr(428, 2).alias('PUIODP2'), 
tmp_df.value.substr(430, 2).alias('PUIODP3'), 
tmp_df.value.substr(432, 2).alias('PEIO1COW'), 
tmp_df.value.substr(434, 2).alias('PUIO1MFG'), 
tmp_df.value.substr(436, 6).alias('PADDING436'), 
tmp_df.value.substr(442, 2).alias('PEIO2COW'), 
tmp_df.value.substr(444, 2).alias('PUIO2MFG'), 
tmp_df.value.substr(446, 6).alias('PADDING446'), 
tmp_df.value.substr(452, 2).alias('PUIOCK1'), 
tmp_df.value.substr(454, 2).alias('PUIOCK2'), 
tmp_df.value.substr(456, 2).alias('PUIOCK3'), 
tmp_df.value.substr(458, 2).alias('PRIOELG'), 
tmp_df.value.substr(460, 2).alias('PRAGNA'), 
tmp_df.value.substr(462, 2).alias('PRCOW1'), 
tmp_df.value.substr(464, 2).alias('PRCOW2'), 
tmp_df.value.substr(466, 2).alias('PRCOWPG'), 
tmp_df.value.substr(468, 2).alias('PRDTCOW1'), 
tmp_df.value.substr(470, 2).alias('PRDTCOW2'), 
tmp_df.value.substr(472, 2).alias('PRDTIND1'), 
tmp_df.value.substr(474, 2).alias('PRDTIND2'), 
tmp_df.value.substr(476, 2).alias('PRDTOCC1'), 
tmp_df.value.substr(478, 2).alias('PRDTOCC2'), 
tmp_df.value.substr(480, 2).alias('PREMP'), 
tmp_df.value.substr(482, 2).alias('PRMJIND1'), 
tmp_df.value.substr(484, 2).alias('PRMJIND2'), 
tmp_df.value.substr(486, 2).alias('PRMJOCC1'), 
tmp_df.value.substr(488, 2).alias('PRMJOCC2'), 
tmp_df.value.substr(490, 2).alias('PRMJOCGR'), 
tmp_df.value.substr(492, 2).alias('PRNAGPWS'), 
tmp_df.value.substr(494, 2).alias('PRNAGWS'), 
tmp_df.value.substr(496, 2).alias('PRSJMS'), 
tmp_df.value.substr(498, 2).alias('PRERELG'), 
tmp_df.value.substr(500, 2).alias('PEERNUOT'), 
tmp_df.value.substr(502, 2).alias('PEERNPER'), 
tmp_df.value.substr(504, 2).alias('PEERNRT'), 
tmp_df.value.substr(506, 2).alias('PEERNHRY'), 
tmp_df.value.substr(508, 4).alias('PTERNH1C'), 
tmp_df.value.substr(512, 4).alias('PTERNH2'), 
tmp_df.value.substr(516, 4).alias('PTERNH1O'), 
tmp_df.value.substr(520, 4).alias('PTERNHLY'), 
tmp_df.value.substr(524, 1).alias('PTHR'), 
tmp_df.value.substr(525, 2).alias('PEERNHRO'), 
tmp_df.value.substr(527, 8).alias('PTERNWA'), 
tmp_df.value.substr(535, 1).alias('PTWK'), 
tmp_df.value.substr(536, 4).alias('FILLER536'), 
tmp_df.value.substr(540, 8).alias('PTERN'), 
tmp_df.value.substr(548, 8).alias('PTERN2'), 
tmp_df.value.substr(556, 1).alias('PTOT'), 
tmp_df.value.substr(557, 2).alias('FILLER557'), 
tmp_df.value.substr(559, 2).alias('PEERNWKP'), 
tmp_df.value.substr(561, 2).alias('PEERNLAB'), 
tmp_df.value.substr(563, 2).alias('PEERNCOV'), 
tmp_df.value.substr(565, 2).alias('PENLFJH'), 
tmp_df.value.substr(567, 2).alias('PENLFRET'), 
tmp_df.value.substr(569, 2).alias('PENLFACT'), 
tmp_df.value.substr(571, 2).alias('PUNLFCK1'), 
tmp_df.value.substr(573, 2).alias('PUNLFCK2'), 
tmp_df.value.substr(575, 2).alias('PESCHENR'), 
tmp_df.value.substr(577, 2).alias('PESCHFT'), 
tmp_df.value.substr(579, 2).alias('PESCHLVL'), 
tmp_df.value.substr(581, 2).alias('PRNLFSCH'), 
tmp_df.value.substr(583, 10).alias('PWFMWGT'), 
tmp_df.value.substr(593, 10).alias('PWLGWGT'), 
tmp_df.value.substr(603, 10).alias('PWORWGT'), 
tmp_df.value.substr(613, 10).alias('PWSSWGT'), 
tmp_df.value.substr(623, 10).alias('PWVETWGT'), 
tmp_df.value.substr(633, 2).alias('PRCHLD'), 
tmp_df.value.substr(635, 2).alias('PRNMCHLD'), 
tmp_df.value.substr(637, 2).alias('PXPDEMP1'), 
tmp_df.value.substr(639, 2).alias('PRWERNAL'), 
tmp_df.value.substr(641, 2).alias('PRHERNAL'), 
tmp_df.value.substr(643, 2).alias('HXTENURE'), 
tmp_df.value.substr(645, 2).alias('HXHOUSUT'), 
tmp_df.value.substr(647, 2).alias('HXTELHHD'), 
tmp_df.value.substr(649, 2).alias('HXTELAVL'), 
tmp_df.value.substr(651, 2).alias('HXPHONEO'), 
tmp_df.value.substr(653, 2).alias('PXINUSYR'), 
tmp_df.value.substr(655, 2).alias('PXRRP'), 
tmp_df.value.substr(657, 2).alias('PXPARENT'), 
tmp_df.value.substr(659, 2).alias('PXAGE'), 
tmp_df.value.substr(661, 2).alias('PXMARITL'), 
tmp_df.value.substr(663, 2).alias('PXSPOUSE'), 
tmp_df.value.substr(665, 2).alias('PXSEX'), 
tmp_df.value.substr(667, 2).alias('PXAFWHN1'), 
tmp_df.value.substr(669, 2).alias('PXAFNOW'), 
tmp_df.value.substr(671, 2).alias('PXEDUCA'), 
tmp_df.value.substr(673, 2).alias('PXRACE1'), 
tmp_df.value.substr(675, 2).alias('PXNATVTY'), 
tmp_df.value.substr(677, 2).alias('PXMNTVTY'), 
tmp_df.value.substr(679, 2).alias('PXFNTVTY'), 
tmp_df.value.substr(681, 2).alias('PXNMEMP1'), 
tmp_df.value.substr(683, 2).alias('PXHSPNON'), 
tmp_df.value.substr(685, 2).alias('PXMLR'), 
tmp_df.value.substr(687, 2).alias('PXRET1'), 
tmp_df.value.substr(689, 2).alias('PXABSRSN'), 
tmp_df.value.substr(691, 2).alias('PXABSPDO'), 
tmp_df.value.substr(693, 2).alias('PXMJOT'), 
tmp_df.value.substr(695, 2).alias('PXMJNUM'), 
tmp_df.value.substr(697, 2).alias('PXHRUSL1'), 
tmp_df.value.substr(699, 2).alias('PXHRUSL2'), 
tmp_df.value.substr(701, 2).alias('PXHRFTPT'), 
tmp_df.value.substr(703, 2).alias('PXHRUSLT'), 
tmp_df.value.substr(705, 2).alias('PXHRWANT'), 
tmp_df.value.substr(707, 2).alias('PXHRRSN1'), 
tmp_df.value.substr(709, 2).alias('PXHRRSN2'), 
tmp_df.value.substr(711, 2).alias('PXHRACT1'), 
tmp_df.value.substr(713, 2).alias('PXHRACT2'), 
tmp_df.value.substr(715, 2).alias('PXHRACTT'), 
tmp_df.value.substr(717, 2).alias('PXHRRSN3'), 
tmp_df.value.substr(719, 2).alias('PXHRAVL'), 
tmp_df.value.substr(721, 2).alias('PXLAYAVL'), 
tmp_df.value.substr(723, 2).alias('PXLAYLK'), 
tmp_df.value.substr(725, 2).alias('PXLAYDUR'), 
tmp_df.value.substr(727, 2).alias('PXLAYFTO'), 
tmp_df.value.substr(729, 2).alias('PXLKM1'), 
tmp_df.value.substr(731, 2).alias('PXLKAVL'), 
tmp_df.value.substr(733, 2).alias('PXLKLL1O'), 
tmp_df.value.substr(735, 2).alias('PXLKLL2O'), 
tmp_df.value.substr(737, 2).alias('PXLKLWO'), 
tmp_df.value.substr(739, 2).alias('PXLKDUR'), 
tmp_df.value.substr(741, 2).alias('PXLKFTO'), 
tmp_df.value.substr(743, 2).alias('PXDWWNTO'), 
tmp_df.value.substr(745, 2).alias('PXDWRSN'), 
tmp_df.value.substr(747, 2).alias('PXDWLKO'), 
tmp_df.value.substr(749, 2).alias('PXDWWK'), 
tmp_df.value.substr(751, 2).alias('PXDW4WK'), 
tmp_df.value.substr(753, 2).alias('PXDWLKWK'), 
tmp_df.value.substr(755, 2).alias('PXDWAVL'), 
tmp_df.value.substr(757, 2).alias('PXDWAVR'), 
tmp_df.value.substr(759, 2).alias('PXJHWKO'), 
tmp_df.value.substr(761, 2).alias('PXJHRSN'), 
tmp_df.value.substr(763, 2).alias('PXJHWANT'), 
tmp_df.value.substr(765, 2).alias('PXIO1COW'), 
tmp_df.value.substr(767, 2).alias('PXIO1ICD'), 
tmp_df.value.substr(769, 2).alias('PXIO1OCD'), 
tmp_df.value.substr(771, 2).alias('PXIO2COW'), 
tmp_df.value.substr(773, 2).alias('PXIO2ICD'), 
tmp_df.value.substr(775, 2).alias('PXIO2OCD'), 
tmp_df.value.substr(777, 2).alias('PXERNUOT'), 
tmp_df.value.substr(779, 2).alias('PXERNPER'), 
tmp_df.value.substr(781, 2).alias('PXERNH1O'), 
tmp_df.value.substr(783, 2).alias('PXERNHRO'), 
tmp_df.value.substr(785, 2).alias('PXERN'), 
tmp_df.value.substr(787, 2).alias('PXPDEMP2'), 
tmp_df.value.substr(789, 2).alias('PXNMEMP2'), 
tmp_df.value.substr(791, 2).alias('PXERNWKP'), 
tmp_df.value.substr(793, 2).alias('PXERNRT'), 
tmp_df.value.substr(795, 2).alias('PXERNHRY'), 
tmp_df.value.substr(797, 2).alias('PXERNH2'), 
tmp_df.value.substr(799, 2).alias('PXERNLAB'), 
tmp_df.value.substr(801, 2).alias('PXERNCOV'), 
tmp_df.value.substr(803, 2).alias('PXNLFJH'), 
tmp_df.value.substr(805, 2).alias('PXNLFRET'), 
tmp_df.value.substr(807, 2).alias('PXNLFACT'), 
tmp_df.value.substr(809, 2).alias('PXSCHENR'), 
tmp_df.value.substr(811, 2).alias('PXSCHFT'), 
tmp_df.value.substr(813, 2).alias('PXSCHLVL'), 
tmp_df.value.substr(815, 5).alias('QSTNUM'), 
tmp_df.value.substr(820, 2).alias('OCCURNUM'), 
tmp_df.value.substr(822, 2).alias('PEDIPGED'), 
tmp_df.value.substr(824, 2).alias('PEHGCOMP'), 
tmp_df.value.substr(826, 2).alias('PECYC'), 
tmp_df.value.substr(828, 6).alias('PADDING828'), 
tmp_df.value.substr(834, 2).alias('PXDIPGED'), 
tmp_df.value.substr(836, 2).alias('PXHGCOMP'), 
tmp_df.value.substr(838, 2).alias('PXCYC'), 
tmp_df.value.substr(840, 6).alias('FILLER840'), 
tmp_df.value.substr(846, 10).alias('PWCMPWGT'), 
tmp_df.value.substr(856, 4).alias('PEIO1ICD'), 
tmp_df.value.substr(860, 4).alias('PTIO1OCD'), 
tmp_df.value.substr(864, 4).alias('PEIO2ICD'), 
tmp_df.value.substr(868, 4).alias('PTIO2OCD'), 
tmp_df.value.substr(872, 2).alias('PRIMIND1'), 
tmp_df.value.substr(874, 2).alias('PRIMIND2'), 
tmp_df.value.substr(876, 2).alias('PEAFWHN1'), 
tmp_df.value.substr(878, 2).alias('PEAFWHN2'), 
tmp_df.value.substr(880, 2).alias('PEAFWHN3'), 
tmp_df.value.substr(882, 2).alias('PEAFWHN4'), 
tmp_df.value.substr(884, 2).alias('PXAFEVER'), 
tmp_df.value.substr(886, 2).alias('PEPAR2'), 
tmp_df.value.substr(888, 2).alias('PEPAR1'), 
tmp_df.value.substr(890, 2).alias('PEPAR2TYP'), 
tmp_df.value.substr(892, 2).alias('PEPAR1TYP'), 
tmp_df.value.substr(894, 2).alias('PECOHAB'), 
tmp_df.value.substr(896, 2).alias('PXPAR2'), 
tmp_df.value.substr(898, 2).alias('PXPAR1'), 
tmp_df.value.substr(900, 2).alias('PXPAR2TYP'), 
tmp_df.value.substr(902, 2).alias('PXPAR1TYP'), 
tmp_df.value.substr(904, 2).alias('PXCOHAB'), 
tmp_df.value.substr(906, 2).alias('PEDISEAR'), 
tmp_df.value.substr(908, 2).alias('PEDISEYE'), 
tmp_df.value.substr(910, 2).alias('PEDISREM'), 
tmp_df.value.substr(912, 2).alias('PEDISPHY'), 
tmp_df.value.substr(914, 2).alias('PEDISDRS'), 
tmp_df.value.substr(916, 2).alias('PEDISOUT'), 
tmp_df.value.substr(918, 2).alias('PRDISFLG'), 
tmp_df.value.substr(920, 2).alias('PXDISEAR'), 
tmp_df.value.substr(922, 2).alias('PXDISEYE'), 
tmp_df.value.substr(924, 2).alias('PXDISREM'), 
tmp_df.value.substr(926, 2).alias('PXDISPHY'), 
tmp_df.value.substr(928, 2).alias('PXDISDRS'), 
tmp_df.value.substr(930, 2).alias('PXDISOUT'), 
tmp_df.value.substr(932, 2).alias('HXFAMINC'), 
tmp_df.value.substr(934, 2).alias('PRDASIAN'), 
tmp_df.value.substr(936, 2).alias('PEPDEMP1'), 
tmp_df.value.substr(938, 2).alias('PTNMEMP1'), 
tmp_df.value.substr(940, 2).alias('PEPDEMP2'), 
tmp_df.value.substr(942, 2).alias('PTNMEMP2'), 
tmp_df.value.substr(944, 2).alias('PECERT1'), 
tmp_df.value.substr(946, 2).alias('PECERT2'), 
tmp_df.value.substr(948, 2).alias('PECERT3'), 
tmp_df.value.substr(950, 2).alias('PXCERT1'), 
tmp_df.value.substr(952, 2).alias('PXCERT2'), 
tmp_df.value.substr(954, 2).alias('PXCERT3'), 
tmp_df.value.substr(956, 45).alias('FILLER956'))

In [ ]:
apr21_df.select('HRHHID', 'PEIO1COW').show(30)

In [ ]:
apr21_df.createOrReplaceTempView('apr21_df')

In [ ]:
query = '''SELECT 
                HEHOUSUT ,
                COUNT(HEHOUSUT) as count
            FROM apr21_df 
            GROUP BY 
                HEHOUSUT
            ORDER BY 
                HEHOUSUT
            '''
spark.sql(query).show()
df_hsg = spark.sql(query)

In [ ]:
pdf_hsg = df_hsg.toPandas()

pdf_hsg.plot(kind='bar', x='HEHOUSUT',y='count')

In [ ]:
query = '''SELECT 
                HEFAMINC ,
                COUNT(HEFAMINC) as count
            FROM apr21_df 
            WHERE HEFAMINC != -1
            GROUP BY 
                HEFAMINC
            ORDER BY 
                HEFAMINC
            '''
spark.sql(query).show()
df_inc = spark.sql(query)

In [ ]:
pdf_inc = df_inc.toPandas()

pdf_inc.plot(kind='bar', x='HEFAMINC',y='count', fontsize=20);
# VALID ENTRIES
#     1	LESS THAN $5,000
#     2	5,000 TO 7,499
#     3	7,500 TO 9,999
#     4	10,000 TO 12,499
#     5	12,500 TO 14,999
#     6	15,000 TO 19,999
#     7	20,000 TO 24,999
#     8	25,000 TO 29,999
#     9	30,000 TO 34,999
#     10	35,000 TO 39,999
#     11	40,000 TO 49,999
#     12	50,000 TO 59,999
#     13	60,000 TO 74,999
#     14	75,000 TO 99,999
#     15	100,000 TO 149,999
#     16	150,000 OR MORE

In [ ]:
query = '''SELECT 
                HRNUMHOU ,
                COUNT(HRNUMHOU) as count
            FROM apr21_df 
            GROUP BY 
                HRNUMHOU
            ORDER BY 
                HRNUMHOU
            '''
spark.sql(query).show()
df_num = spark.sql(query)

In [ ]:
pdf_num = df_num.toPandas()

pdf_num.plot(kind='bar', x='HRNUMHOU',y='count', fontsize=20);

In [ ]:
query = '''SELECT 
                HRHTYPE ,
                COUNT(HRHTYPE) as count
            FROM apr21_df 
            GROUP BY 
                HRHTYPE
            ORDER BY 
                HRHTYPE
            '''
spark.sql(query).show()
df_type = spark.sql(query)

In [ ]:
pdf_type = df_type.toPandas()

pdf_type.plot(kind='bar', x='HRHTYPE',y='count', fontsize=20);
# 0	NON-INTERVIEW HOUSEHOLD
# 					1	HUSBAND/WIFE PRIMARY FAMILY (NEITHER AF)
# 					2	HUSB/WIFE PRIM. FAMILY (EITHER/BOTH AF)
# 					3	UNMARRIED CIVILIAN MALE-PRIM. FAM HHLDER
# 					4	UNMARRIED CIV. FEMALE-PRIM FAM HHLDER
# 					5	PRIMARY FAMILY HHLDER-RP IN AF, UNMAR.
# 					6	CIVILIAN MALE PRIMARY INDIVIDUAL
# 					7	CIVILIAN FEMALE PRIMARY INDIVIDUAL
# 					8	PRIMARY INDIVIDUAL HHLD-RP IN AF
# 					9	GROUP QUARTERS WITH FAMILY
# 					10	GROUP QUARTERS WITHOUT FAMILY

In [ ]:
query = '''SELECT 
                HUBUS ,
                COUNT(HUBUS) as count
            FROM apr21_df 
            WHERE HUBUS > 0
            GROUP BY 
                HUBUS
            ORDER BY 
                HUBUS
            '''
spark.sql(query).show()
df_bus = spark.sql(query)

In [ ]:
pdf_bus = df_bus.toPandas()

pdf_bus.plot(kind='bar', x='HUBUS',y='count', fontsize=20);

In [ ]:
query = '''SELECT 
                GEREG as REGION ,
                COUNT(GEREG) as count
            FROM apr21_df 
            GROUP BY 
                GEREG
            ORDER BY 
                GEREG
            '''
spark.sql(query).show()
df_reg = spark.sql(query)

In [ ]:
pdf_reg = df_reg.toPandas()

pdf_reg.plot(kind='bar', x='REGION',y='count', fontsize=20);

# 1	NORTHEAST
# 2	MIDWEST (FORMERLY NORTH CENTRAL)
# 3	SOUTH
# 4	WEST

In [ ]:
query = '''SELECT 
                GESTFIPS as State ,
                COUNT(GESTFIPS) as count
            FROM apr21_df 
            GROUP BY 
                GESTFIPS
            ORDER BY 
                GESTFIPS
            '''
spark.sql(query).show()
df_states = spark.sql(query)

In [ ]:
pdf_states = df_states.toPandas()

pdf_states.plot(kind='bar', x='State',y='count', fontsize=20);

# 01	AL		30	MT
# 02	AK		31	NE
# 04	AZ		32	NV
# 05	AR		33	NH
# 06	CA		34	NJ
# 08	CO		35	NM
# 09	CT		36	NY
# 10	DE		37	NC
# 11	DC		38	ND
# 12	FL		39	OH
# 13	GA		40	OK
# 15	HI		41	OR
# 16	ID		42	PA
# 17	IL		44	RI
# 18	IN		45	SC
# 19	IA		46	SD
# 20	KS		47	TN
# 21	KY		48	TX
# 22	LA		49	UT
# 23	ME		50	VT
# 24	MD		51	VA
# 25	MA		53	WA
# 26	MI		54	WV
# 27	MN		55	WI
# 28	MS		56	WY
# 29	MO

In [ ]:
query = '''SELECT 
                PRTAGE ,
                COUNT(PRTAGE) as count
            FROM apr21_df 
            WHERE PRTAGE > 0
            GROUP BY 
                PRTAGE
            ORDER BY 
                PRTAGE
            '''
spark.sql(query).show()
df_age = spark.sql(query)

In [ ]:
pdf_age = df_age.toPandas()

pdf_age.plot(kind='bar', x='PRTAGE',y='count', fontsize=20);

In [ ]:
query = '''SELECT 
                PEEDUCA ,
                COUNT(PEEDUCA) as count
            FROM apr21_df 
            WHERE PEEDUCA > 0
            GROUP BY 
                PEEDUCA
            ORDER BY 
                PEEDUCA
            '''
spark.sql(query).show()
df_edu = spark.sql(query)

In [ ]:
pdf_edu = df_edu.toPandas()

pdf_edu.plot(kind='bar', x='PEEDUCA',y='count', fontsize=20);

# 31	LESS THAN 1ST GRADE
# 32	1ST, 2ND, 3RD OR 4TH GRADE
# 33	5TH OR 6TH GRADE
# 34	7TH OR 8TH GRADE
# 35	9TH GRADE
# 36	10TH GRADE
# 37	11TH GRADE
# 38	12TH GRADE NO DIPLOMA
# 39	HIGH SCHOOL GRAD-DIPLOMA OR EQUIV (GED)
# 40	SOME COLLEGE BUT NO DEGREE
# 41	ASSOCIATE DEGREE-OCCUPATIONAL/VOCATIONAL
# 42	ASSOCIATE DEGREE-ACADEMIC PROGRAM
# 43	BACHELOR'S DEGREE (EX: BA, AB, BS)
# 44	MASTER'S DEGREE (EX: MA, MS, MEng, MEd, MSW)
# 45	PROFESSIONAL SCHOOL DEG (EX: MD, DDS, DVM)
# 46	DOCTORATE DEGREE (EX: PhD, EdD)

In [ ]:
query = '''SELECT 
                PRMARSTA ,
                COUNT(PRMARSTA) as count
            FROM apr21_df 
            WHERE PRMARSTA > 0
            GROUP BY 
                PRMARSTA
            ORDER BY 
                PRMARSTA
            '''
spark.sql(query).show()
df_mar = spark.sql(query)

In [ ]:
pdf_mar = df_mar.toPandas()

pdf_mar.plot(kind='bar', x='PRMARSTA',y='count', fontsize=20);

# 1	MARRIED, CIVILIAN SPOUSE PRESENT
# 2	MARRIED, ARMED FORCES SPOUSE PRESENT
# 3	MARRIED, SPOUSE ABSENT (EXC. SEPARATED)
# 4	WIDOWED
# 5	DIVORCED
# 6	SEPARATED
# 7	NEVER MARRIED

In [ ]:
query = '''SELECT 
                PENATVTY ,
                NAT_COUNT
            FROM (
                SELECT 
                    PENATVTY ,
                    COUNT(*) AS NAT_COUNT
                FROM apr21_df 
                WHERE PENATVTY > 0
                GROUP BY 
                    PENATVTY 
                )
            WHERE NAT_COUNT > 500
            ORDER BY NAT_COUNT DESC
            '''
spark.sql(query).show()
df_nativ = spark.sql(query)

In [ ]:
pdf_nativ = df_nativ.toPandas()

pdf_nativ.plot(kind='bar', x='PENATVTY',y='NAT_COUNT', fontsize=20);

# 057	UNITED STATES
# 060 AM SAMOA
# 066	GUAM
# 073	PUERTO RICO
# 078	U. S. VIRGIN ISLANDS
# 096	OTHER U. S. ISLAND AREA
# 100-554	FOREIGN COUNTRY (SEE APPENDIX)
# 555	ELSEWHERE

In [ ]:
query = '''SELECT 
                PENATVTY ,
                NAT_COUNT
            FROM (
                SELECT 
                    PENATVTY ,
                    COUNT(*) AS NAT_COUNT
                FROM apr21_df 
                WHERE PENATVTY > 0 and PENATVTY != 57
                GROUP BY 
                    PENATVTY 
                )
            WHERE NAT_COUNT > 500
            ORDER BY NAT_COUNT DESC
            '''
spark.sql(query).show()
df_nativ2 = spark.sql(query)

In [ ]:
pdf_nativ2 = df_nativ2.toPandas()

pdf_nativ2.plot(kind='bar', x='PENATVTY',y='NAT_COUNT', fontsize=20);

In [ ]:
query = '''SELECT 
                PRCITSHP ,
                COUNT(PRCITSHP) as count
            FROM apr21_df 
            WHERE PRCITSHP > 0
            GROUP BY 
                PRCITSHP
            ORDER BY 
                PRCITSHP
            '''
spark.sql(query).show()
df_cit = spark.sql(query)

In [ ]:
pdf_cit = df_cit.toPandas()

pdf_cit.plot(kind='bar', x='PRCITSHP',y='count', fontsize=20);

# 1	NATIVE, BORN IN THE UNITED STATES
# 2	NATIVE, BORN IN PUERTO RICO OR OTHER U.S. ISLAND AREAS
# 3	NATIVE, BORN ABROAD OF AMERICAN PARENT OR PARENTS
# 4	FOREIGN BORN, U.S. CITIZEN BY NATURALIZATION
# 5	FOREIGN BORN, NOT A CITIZEN OF THE UNITED STATES

In [ ]:
query = '''SELECT 
                PRINUSYR ,
                COUNT(PRINUSYR) as count
            FROM apr21_df 
            WHERE PRINUSYR > 0
            GROUP BY 
                PRINUSYR
            ORDER BY 
                PRINUSYR
            '''
spark.sql(query).show()
df_usyr = spark.sql(query)

In [ ]:
pdf_usyr = df_usyr.toPandas()

pdf_usyr.plot(kind='bar', x='PRINUSYR',y='count', fontsize=20);

# -1	NOT IN UNIVERSE (BORN IN U.S.)
# 00	NOT FOREIGN BORN
# 01	BEFORE 1950
# 02	1950-1959
# 03	1960-1964
# 04	1965-1969
# 05	1970-1974
# 06	1975-1979
# 07	1980-1981
# 08	1982-1983
# 09	1984-1985
# 10	1986-1987
# 11	1988-1989
# 12	1990-1991
# 13	1992-1993
# 14	1994-1995
# 15	1996-1997
# 16	1998-1999
# 17 	2000-2001
# 18	2002-2003
# 19  	2004-2005
# 20	2006-2007
# 21	2008-2009
# 22	2010-2011
# 23 	2012-2013
# 24	2014-2015
# 25	2016-2017
# 26	2018-2020
# 26	2018-2021
# 26	2018-2019
# 27	2020-2022

In [ ]:
query = '''SELECT 
                PEMLR ,
                COUNT(PEMLR) as count
            FROM apr21_df 
            WHERE PEMLR > 0
            GROUP BY 
                PEMLR
            ORDER BY 
                PEMLR
            '''
spark.sql(query).show()
df_lab = spark.sql(query)

In [ ]:
pdf_lab = df_lab.toPandas()

pdf_lab.plot(kind='bar', x='PEMLR',y='count', fontsize=20);

# 1	EMPLOYED-AT WORK
# 2	EMPLOYED-ABSENT
# 3	UNEMPLOYED-ON LAYOFF
# 4	UNEMPLOYED-LOOKING
# 5	NOT IN LABOR FORCE-RETIRED
# 6	NOT IN LABOR FORCE-DISABLED
# 7	NOT IN LABOR FORCE-OTHER

In [ ]:
query = '''SELECT 
                PEMJOT ,
                COUNT(PEMJOT) as count
            FROM apr21_df 
            WHERE PEMJOT > 0
            GROUP BY 
                PEMJOT
            ORDER BY 
                PEMJOT
            '''
spark.sql(query).show()
df_job = spark.sql(query)

In [ ]:
pdf_job = df_job.toPandas()

pdf_job.plot(kind='bar', x='PEMJOT',y='count', fontsize=20);

# 1      YES
# 2       NO

In [ ]:
query = '''SELECT 
                PEHRUSLT ,
                COUNT(PEHRUSLT) as count
            FROM apr21_df 
            WHERE PEMLR > 0 and PEHRUSLT > 0
            GROUP BY 
                PEHRUSLT
            ORDER BY 
                PEHRUSLT
            '''
spark.sql(query).show()
df_whr = spark.sql(query)

In [ ]:
pdf_whr = df_whr.toPandas()

pdf_whr.plot(kind='barh', x='PEHRUSLT',y='count', fontsize=20);

In [ ]:
query = '''SELECT 
                PREMPHRS ,
                COUNT(PREMPHRS) as count
            FROM apr21_df 
            WHERE PREMPHRS > -1
            GROUP BY 
                PREMPHRS
            ORDER BY 
                PREMPHRS
            '''
spark.sql(query).show()
df_nilf_whr = spark.sql(query)

In [ ]:
pdf_nilf_whr = df_nilf_whr.toPandas()

pdf_nilf_whr.plot(kind='bar', x='PREMPHRS',y='count', fontsize=20);

# 0	UNEMPLOYED AND NILF
# 1	W/JOB, NOT AT WORK-ILLNES
# 2	W/JOB, NOT AT WORK-VACATION
# 3	W/JOB, NOT AT WORK-WEATHER AFFECTED JOB
# 4	W/JOB, NOT AT WORK-LABOR DISPUTE
# 5	W/JOB, NOT AT WORK-CHILD CARE PROBLEMS
# 6	W/JOB, NOT AT WORK-FAM/PERS OBLIGATION
# 7	W/JOB, NOT AT WORK-MATERNITY/PATERNITY
# 8	W/JOB, NOT AT WORK-SCHOOL/TRAINING
# 9	W/JOB, NOT AT WORK-CIVIC/MILITARY DUTY
# 10	W/JOB, NOT AT WORK-DOES NOT WORK IN BUS
# 11	W/JOB, NOT AT WORK-OTHER
# 12	AT WORK- 1-4 HRS
# 13	AT WORK- 5-14 HRS
# 14	AT WORK- 15-21 HRS
# 15	AT WORK- 22-29 HRS
# 16	AT WORK- 30-34 HRS
# 17	AT WORK- 35-39 HRS
# 18	AT WORK- 40 HRS
# 19	AT WORK- 41-47 HRS
# 20	AT WORK- 48 HRS
# 21	AT WORK- 49-59 HRS
# 22	AT WORK- 60 HRS OR MORE

In [ ]:
query = '''SELECT 
                PEIO1COW ,
                COUNT(PEIO1COW) as count
            FROM apr21_df 
            WHERE PEIO1COW > 0
            GROUP BY 
                PEIO1COW
            ORDER BY 
                PEIO1COW
            '''
spark.sql(query).show()
df_wcode = spark.sql(query)

In [ ]:
pdf_wcode = df_wcode.toPandas()

pdf_wcode.plot(kind='bar', x='PEIO1COW',y='count', fontsize=20);

# 1	GOVERNMENT - FEDERAL
# 2	GOVERNMENT - STATE
# 3	GOVERNMENT - LOCAL
# 4	PRIVATE, FOR PROFIT
# 5	PRIVATE, NONPROFIT
# 6	SELF-EMPLOYED, INCORPORATED
# 7	SELF-EMPLOYED, UNINCORPORATED
# 8	WITHOUT PAY

In [ ]:
query = '''SELECT 
                PRAGNA ,
                COUNT(PRAGNA) as count
            FROM apr21_df 
            WHERE PRAGNA > 0
            GROUP BY 
                PRAGNA
            ORDER BY 
                PRAGNA
            '''
spark.sql(query).show()
df_blank = spark.sql(query)

In [ ]:
pdf_blank = df_blank.toPandas()

pdf_blank.plot(kind='bar', x='PRAGNA',y='count', fontsize=20);

# PRDTCOW1
#     1	AGRI., WAGE & SALARY, PRIVATE
#     2	AGRI., WAGE & SALARY, GOVERNMENT
#     3	AGRI., SELF-EMPLOYED
#     4	AGRI., UNPAID
#     5	NONAG, WS, PRIVATE, PRIVATE HHLDS
#     6	NONAG, WS, PRIVATE, OTHER PRIVATE
#     7	NONAG, WS, GOVT, FEDERAL
#     8	NONAG, WS, GOVT, STATE
#     9	NONAG, WS, GOVT, LOCAL
#     10	NONAG, SELF-EMPLOYED
#     11	NONAG, UNPAID
# PRAGNA
#     1	AGRICULTURAL
#     2	NON-AGRICULTURAL

In [ ]:
query = '''SELECT 
                PRAGNA ,
                COUNT(PRAGNA) as count
            FROM apr21_df 
            WHERE PRAGNA > 0
            GROUP BY 
                PRAGNA
            ORDER BY 
                PRAGNA
            '''
spark.sql(query).show()
df_blank = spark.sql(query)

In [ ]:
pdf_blank = df_blank.toPandas()

pdf_blank.plot(kind='bar', x='PRAGNA',y='count', fontsize=20);